<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Test</h1>
        <ol>
          <li>Add new user:
            <code>{"username":"moo","_id":"BkT0mzhGr"}</code>
            <code>username already taken</code>
          </li>
          <li>Add new exercise:
            <code>{"username":"moo","description":"ex1","duration":3,"_id":"BkT0mzhGr","date":"Mon Jul 29 2019"}</code>
            (double descriptions are ok)
          </li>
          <li>Get log:
            /api/exercise/log?userId=BkT0mzhGr
            <code>{"_id":"BkT0mzhGr","username":"moo","count":1,"log":[{"description":"ex1","duration":3,"date":"Mon Jul 29 2019"}]}</code>
            <code>unknown userId</code>
          </li>
          <li>Get log extended:
            /api/exercise/log?userId=BkT0mzhGr&from=2019-01-01&to=2019-12-12&limit=2
            <code>{"_id":"BkT0mzhGr","username":"moo","from":"Tue Jan 01 2019","to":"Thu Dec 12 2019","count":1,"log":[{"description":"ex1","duration":3,"date":"Mon Jul 29 2019"}]}</code>
            <code>{"_id":"BkT0mzhGr","username":"moo","from":"Tue Jan 01 2019","to":"Tue Jan 01 2019","count":0,"log":[]}</code>
          </li>
        </ol>  
      </div>
   </body>

</html>
